* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 100px;
    background-color: #3b3b3b;
}

h1 {
    color: white;
    padding: 50px;
    text-align: center;
}

h3 {
    color: white;
}

p {
    color: white;
    padding: 7px;
    border: 4px solid #696767;
}

img{
    width: 100%;
    margin-top: 10%;
}

